# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
/.claude/
/.esphome/
/secrets.yaml
/archive/
/trash/
.device-builder.yaml
.device-builder.json
